.header
  position fixed
  top 0
  z-index 999
  left 0
  right 0
  
  &__item
    display inline-block
    width 200px
    background-color black
    color white

  &__A
    display inline-block
    text-align center
    width 100%
    padding 20px
    

// @media screen and (max-width: (BREAKPOINT)px)
